div > div#msg-topo {
    position: fixed;
}

div#msg-topo {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    font-weight: 700;
    z-index: 1000;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px #000000;
    -moz-box-shadow: 0px 0px 12px #000000;
    box-shadow: 0px 0px 12px #000000;
}

div#msg-topo span {
    display:block;
    text-align:center;
}

div#msg-topo.erro {
    border-bottom: 1px solid red;
    background-color: #FCC;
    color: red;
}

div#msg-topo.msg {
    color: #40C840;
    background-color: #E6FFE6;
    border-bottom: 1px solid #40C840;
}
